<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.crazy_habits">

    <application>
   <!--  android:theme="@style/Theme.Material3.DayNight"
        tools:replace="android:theme" -->
        <activity
            android:name=".HiltTestActivity"
            android:exported="false"/>
    </application>

</manifest>